div{
    padding: 0;
    margin: 0;
}

.bg{
    background: rgba(0, 0, 0, .85);
}

.logo{
    color: #8e8e8e;
}

.logo:hover{
    color: white;
}

.link a{
    color: #8e8e8e;
    text-decoration: underline;
    transition: all .3s;
}

.link a:hover{
    color: white;
    text-decoration: none;
}

.products{
    margin: 50px 0;
    width: 100%;
}

.pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.btn{
    border: none;
    padding: 15px;
    margin-right: 20px;
}

.btn:last-child{
    margin-right: 0;
}

.carousel{
    padding: 0 !important;
}

.carousel .carousel-item{
    display: flex;
    max-height: 700px;
}

.carousel .carousel-item img{
    object-fit: cover;
}

.card-item{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px !important;
}

.card-item img {
    width: 50%;
    height: 50%;
}

.swiper-button-next, .swiper-button-prev{
    color: black!important;
}


